/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

/* ----------------------------------------- Set Defaults ----------------------------------------- */

/* set the padding, margin and border of all elements to 0 to gain more control later */
* {
    margin: 0;
    padding: 0;
    border: 0;
}

html {
    font-family: 'Zilla Slab', 'Roboto', sans-serif;
}

body {
    color: #3c3939;
    font-size: 16px;
    font-family: 'Zilla Slab', 'Roboto', sans-serif;
    
}

/* .container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    
} */

h1, h2, h3, h4, h5, h6 { 
    font-family: 'Zilla Slab', 'Roboto', sans-serif;
    text-transform: uppercase;    
}

h2 {
    font-size: 1.5rem;
    font-weight: 400;  
}

.h5, h5 {
    font-size: 1.2rem;
    font-weight: 400;
}

p {
    font-family: 'Zilla Slab', 'Roboto', 'sans-serif';
    margin-top: 0;
    margin-bottom: 1rem;  
}

.inline-block {
    display: inline-block;
}

/* Style page navigation */
.arrow-container {
    margin-top: 3rem;
    text-align: center;
}

.arrow-container i {
    font-size: 30px;
}

.arrow-top {
    border: 2px solid #167709;
    border-radius: 15px;
    color: #167709;
    font-weight: 500;
}

.arrow-top:hover{
    color: #167709;
    text-decoration: none;
}
 
/* ----------------------------------------- /Set Defaults ----------------------------------------- */
/* ----------------------------------------- Header and Customising Bootstrap Navbar ----------------------------------------- */

header {
    margin: 0;
}

.navbar {
    background-color: #fcf5f6; 
}

.brand-logo {
    border-radius: 110px;
    border: 4px solid #3F0005;
    margin: 0;
    width: 110px;
    height: 110px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

/* Nav Menu */

.brand-logo, 
#nav-menu,
#social-links-header {
    line-height: 75px;
}

.nav-text {
    text-align: center;
}

#nav-menu {
    font-size: 110%;
    letter-spacing: 2.5px;
}

#nav-menu li {
    margin-right: 20px;
}

.nav-link {
    padding-bottom: 0;
    margin-bottom: 0;
}

#nav-menu a {
    text-decoration: none;
    color: inherit;
    font-weight: 500;
}

#nav-menu a:hover {  
    border-bottom: 1px solid #3F0005;
}

.list-inline li {
    display: inline-block;
}

.list-inline a i {
    color: #167709;
        width: 25px;
        font-size: 18px;    
        padding: 5px 0;
        text-align: center;
        transition: all 0.35s ease-in-out;
        -moz-transition: all 0.35s ease-in-out;
        -webkit-transition: all 0.35s ease-in-out;
        -o-transition: all 0.35s ease-in-out;
    }

    .list-inline a i:hover {
        color: #3F0005;
    }

    .active {
        border-bottom: 1px solid #3F0005;
    }

/* -----------------------------------------  /Header and Customising Bootstrap Navbar ----------------------------------------- */
/* -----------------------------------------  About Section ----------------------------------------- */

/* .our-story,
.our-story-pic,
.our-ingrdients,
.our-ingrdients-pic {
    border: 1px solid black;
} */

.about-container h2 {
    font-size: 1.7rem;
    padding-bottom: 5px;
    padding-bottom: 15px;
    margin: 5px;
    text-align: center;
}

.about-container p {
    padding: 0px 12px;
    text-align: left;
}

.story-first-row {
    vertical-align: middle;
}

.story-image {
    width: 100%;
    background-repeat: repeat-x;
}

.our-story {
    position: relative;
    max-width: 700px;
    height: 700px;
}

.our-story .story-background-content {
    position: absolute;
    bottom: 0;
    top: 0;
    background: rgba(20, 71, 13, 0.7);
    color: #fcf5f6;
    width: 100%;
    padding: 20px;
    line-height: 2;   
}

.our-ingrdients {
    background-color: #fcf5f6;
    bottom: 0;
    top: 0;
    background: rgba(20, 71, 13, 0.8);
    color: #fcf5f6;
    width: 100%;
    padding: 20px 20px;
    line-height: 2;
}

.our-ingrdients p {
    padding: 0 30px;
}






/* -----------------------------------------  /About Section ----------------------------------------- */
/* -----------------------------------------  Menu Section ----------------------------------------- */

/* .section-heading {
    font-size: 2rem;
    text-align: center;
    font-weight: 500;
    margin: 40px 0;
    padding: 10px;
}

.menu-main-heading {
    text-align: center;
    margin-bottom: 10px;
}

.menu-item-name {
    margin-left: 8em;
}

.menu-item-description {
    margin-left: 8em;
}

.menu-image {
    width: 330px;
    height: 140px;
}

.image-location {
    margin-left: 20px;
}

.menu-image-shots {
    width: 150px;
    height: 100px;
}

.menu-download {
    margin-left: 8rem;
}

.menu-download i {
    font-size: 20px;
    color: #167709;
    padding-left: 3px;
} */


/* -----------------------------------------  Menu Section ----------------------------------------- */
/* -----------------------------------------  Gallery Section ----------------------------------------- */

#gallery-section {
    padding: 5px 0px;
}

.insta {
    height: 350px;;
    width: 350px;
    margin-top: 1px;
    
}

/* Instagram button - adjustments to Bootstrap button with CSS*/
#insta-buttons {
    text-align: center;
}

.btn:hover {
    color: #fff;
    background: #167709;
    border-color: #167709;
    font-weight: 500;
}

.btn {
    color: #167709;
    border: 2px solid #167709;
    border-radius: 15px;
    font-weight: 500;
}

/* -----------------------------------------  /Gallery Section ----------------------------------------- */
/* -----------------------------------------  Testimonials Section ----------------------------------------- */

/* #testimonials-section {
    padding: 5px 0px;
}

.col-testimonials {
    margin: 0 0 0 50%;
}

.card {
    position: relative;
    width: 18rem;
    text-align: center;
    margin-top: 3px 0 0 30px;
    border: none;
    margin: 0 0 0 5em;
}

.card-text {
    margin-top: 5px;
    font-size: 12px;
    font-size: 1.1rem;;
}

.blockquote {
    margin-top:8px;
}

.ratings i {
    color: #167709;
}

.carousel-indicators li {
    cursor: pointer;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    margin: 5px 0px 0px 12px;
    color:#000;
    background-color: #333;
    position: relative;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color:#C8C6C6;
} */

/* -----------------------------------------  /Testimonials Section ----------------------------------------- */
/* -----------------------------------------  Offers Section ----------------------------------------- */

.offer h6 {
    margin-top: 10px;
    color: #167709;
    font-weight: 400;
}

.offer {
    text-align: center;
}

#link-to-more-offers {
    margin-top: 8px;
}

#link-to-more-offers a {
    color: #167709;
    text-decoration: none;
}

.offers-image {
    border-radius: 50%;
    padding: 5px;
}

/* -----------------------------------------  /Offers Section ----------------------------------------- */
/* -----------------------------------------  Contact Section ----------------------------------------- */

.contact-form-send {
    color: #fff;
    background: #167709;
    border-color: #167709;
}

.image-contact {
    opacity: 0.5;
}

/* https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_image_text */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.paragraph-contact-background {
    position: absolute;
    bottom: 10px;
    right: 13px;
}

.form-check-input {
        color:#167709;
    }

    .form-control:focus {
    border-color: #167709;
    -webkit-box-shadow: 0 0 0 0.1rem rgba(22, 119, 9, .25);
    box-shadow: 0 0 0 0.2rem rgba(22, 119, 9, .25);
    }

/* -----------------------------------------  /Contact Section ----------------------------------------- */
/* -----------------------------------------  Footer ----------------------------------------- */
    
   footer {
       line-height: 30px;
       background-color: #fcf5f6;
   }

    #footer-info h5 {
        font-size: 110%;
        font-weight: 500;
    }

    #footer-info p {
        font-size: 110%;
        font-weight: 400;
    }

    .menu-download-footer i {
        font-size: 18px;
        color: #167709;
        padding: 5px 0;
        transition: all 0.35s ease-in-out;
        -moz-transition: all 0.35s ease-in-out;
        -webkit-transition: all 0.35s ease-in-out;
        -o-transition: all 0.35s ease-in-out;
    }

    .menu-download-footer i:hover {
        color: #3F0005;
    }

    .social-links li a i {
        width: 25px;
        font-size: 18px;     
        padding: 5px 0;
        text-align: center;
        color: #167709;
        transition: all 0.35s ease-in-out;
        -moz-transition: all 0.35s ease-in-out;
        -webkit-transition: all 0.35s ease-in-out;
        -o-transition: all 0.35s ease-in-out;
    }

    .social-links li a i:hover {
        color: #3F0005;
    }

    #footer-info {
        padding: 15px;
    }  

    .contact-icons i {
        font-size: 20px;
        color: #167709;
        padding-left: 3px;
        transition: all 0.35s ease-in-out;
        -moz-transition: all 0.35s ease-in-out;
        -webkit-transition: all 0.35s ease-in-out;
        -o-transition: all 0.35s ease-in-out;
    }

    .contact-icons i:hover {
        color: #3F0005;
    }

    .active {
        border-bottom: 1px solid #3F0005;
    } */



/* -----------------------------------------  /Footer ----------------------------------------- */
/* -----------------------------------------  Media Queries ----------------------------------------- */

@media (max-width: 991.98px) {

    /* Offers */
    #student-nhs-discount-image {
        margin-top: 8px;
    }

    /* Contact */
    .form-control{
        margin-top: 12px;
    }

    /* footer */
    .social-links {
        padding-bottom: 2px;
    }

    #footer-info {
        padding: 5px;
    }

    .social-links li a i {
        padding: 3px 0;
    }

    @media (max-width: 1199.98px) {

    #nav-menu {
    line-height: 30px;
    }
    }

    @media (min-width: 768px) and (max-width: 991.98px) {
        /* About */
        /* to fix the text alignment in 'our story' */
        .story-background-content h2 {
            padding-top: 25px;
            padding-bottom: 40px;
        }

        .story-background-content p {
            font-size: 17px;
            padding: 0 40px;
            line-height: 2.4;
        }

        .our-ingrdients p {
            font-size: 17px;
        }
    }