@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

/* ----------------------------------------- Set Defaults ----------------------------------------- */

/* set the padding, margin and border of all elements to 0 to gain more control later */
* {
    margin: 0;
    padding: 0;
    border: 0;
}

html {
    font-family: 'Zilla Slab', 'Roboto', sans-serif;
}

body {
    color: #3c3939;
    font-size: 16px;
    font-family: 'Zilla Slab', 'Roboto', sans-serif;
    background-color: #e7f1e6;
}

h1, h2, h3, h4, h5, h6 { 
    font-family: 'Zilla Slab', 'Roboto', sans-serif;
    text-transform: uppercase;    
}

h2 {
    font-size: 1.5rem;
    font-weight: 400;  
}

.h5, h5 {
    font-size: 1.2rem;
    font-weight: 400;
}

p {
    font-family: 'Zilla Slab', 'Roboto', 'sans-serif';
    margin-top: 0;
    margin-bottom: 1rem;  
}

.inline-block {
    display: inline-block;
}

/* Style page navigation */
.arrow-container {
    margin-top: 1.5rem;
    text-align: center;
}

.arrow-container i {
    font-size: 30px;
}

.arrow-top {
    border: 2px solid #167709;
    border-radius: 15px;
    color: #167709;
    font-weight: 500;
}

.arrow-top:hover{
    color: #167709;
    text-decoration: none;
}

.dropdown-menu {
    background-color: #F2D0A4;
}

.dropdown-menu a:hover {
    background-color: #F2D0A4;
}
/* ----------------------------------------- Main image under navigation ----------------------------------------- */

/* used this resource: https://css-tricks.com/perfect-full-page-background-image/ */
#main-page-image {
    height: 75vh;
    width: 100%;
    background: url("../images/main-screen-picture-berry-shake.jpg") no-repeat center center fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;

    -webkit-animation-name: image-zoom;
            animation-name: image-zoom;
    -webkit-animation-duration: 5s;
            animation-duration: 5s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
}

#main-picture {
    height: 70vh;
    width: 100%;
    overflow: hidden;
    position: relative;
    background-size: cover;
}

@-webkit-keyframes image-zoom {
    from {
        -webkit-transform: scale(1);
                transform: scale(1);
    }
    to {
        -webkit-transform: scale(1.1);
                transform: scale(1.1);
    }
}

.main-picture 
#shake-up-motto
h3 {
    color: #F2D0A4;
    font-size: 1.5rem;
}

#shake-up-motto {
    font-size: 130%;
    text-transform: uppercase;
    letter-spacing: 3px;
    width: 230px;
    height: 130px;
    padding-top: 30px; 
    padding-left: 10px;
    background-color: rgba(192, 50, 33, .7);
    top: 150px;
    left: 30px;
    position: absolute;
    border-radius: 15px;
}
/* ----------------------------------------- /Main image under navigation ----------------------------------------- */

/* ----------------------------------------- /Set Defaults ----------------------------------------- */
/* ----------------------------------------- Header and Customising Bootstrap Navbar ----------------------------------------- */

header {
    margin: 0;
}

.navbar {
    background-color: #F2D0A4; 
}

.brand-logo {
    border-radius: 110px;
    border: 4px solid #C03221;
    margin: 0;
    width: 110px;
    height: 110px;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

/* Nav Menu */

.brand-logo, 
#nav-menu,
#social-links-header {
    line-height: 75px;
}

.nav-text {
    text-align: center;
}

#nav-menu {
    font-size: 110%;
    letter-spacing: 2.5px;
}

#nav-menu li {
    margin-right: 20px;
}

.nav-link {
    padding-bottom: 0;
    margin-bottom: 0;
}

#nav-menu a {
    text-decoration: none;
    color: inherit;
    font-weight: 500;
}

#nav-menu a:hover {  
    border-bottom: 1px solid #C03221;
}

.list-inline li {
    display: inline-block;
}

.list-inline a i {
    color: #167709;
        width: 25px;
        font-size: 18px;    
        padding: 5px 0;
        text-align: center;
        transition: all 0.35s ease-in-out;
        -moz-transition: all 0.35s ease-in-out;
        -webkit-transition: all 0.35s ease-in-out;
        -o-transition: all 0.35s ease-in-out;
    }

    .list-inline a i:hover {
        color: #C03221;
    }

    .link-active {
        border-bottom: 1px solid #C03221;
    }

/* -----------------------------------------  /Header and Customising Bootstrap Navbar ----------------------------------------- */
/* -----------------------------------------  About Section ----------------------------------------- */

#about {
    background-color: rgba(147, 183, 143, 0.7);
}

.anchor {
    display: block;
    height: 115px; /*same height as header*/
    margin-top: -115px; /*same height as header*/
    visibility: hidden;
}

.about-container h2 {
    font-size: 1.7rem;
    padding-bottom: 5px;
    padding-bottom: 15px;
    margin: 5px;
    text-align: center;
}

.about-container p {
    padding: 0px 12px;
    text-align: left;
}

.story-first-row {
    vertical-align: middle;
}

.story-image {
    width: 100%;
    background-repeat: repeat-x;
}

.our-story {
    position: relative;
    max-width: 700px;
    height: 700px;
}

.our-story .story-background-content {
    position: absolute;
    bottom: 0;
    top: 0;
    background: rgba(20, 71, 13, 0.7);
    color: #F7F7FF;
    width: 100%;
    padding: 20px;
    line-height: 2;   
}

.our-ingrdients {
    background-color: #167709;
    bottom: 0;
    top: 0;
    background: rgba(20, 71, 13, 0.8);
    color: #F7F7FF;
    width: 100%;
    padding: 20px 20px;
    line-height: 2;
}

.our-ingrdients p {
    padding: 0 30px;
}

/* -----------------------------------------  /About Section ----------------------------------------- */
/* -----------------------------------------  Menu Section ----------------------------------------- */


.menu-container {
    background-color: rgba(192, 50, 33, .65);
    border-radius: 15px;;
}

#menu-section .section-heading span {
    background-color: rgba(192, 50, 33, .65);
    color: #F7F7FF;
}

.section-heading {
    font-size: 2rem;
    text-align: center;
    font-weight: 500;
    margin: 40px 0;
    padding: 10px;
}

.section-heading-border {
    border: 3px solid rgba(20, 71, 13, 0.8);
    border-radius: 15px;
    background: rgb(242, 208, 164);
    padding: 10px 15px;
}

.menu-main-heading {
    text-align: center;
    margin-bottom: 35px;
    text-decoration: underline;
    color: #F7F7FF;
}

#menu-prices {
    font-weight: 200;
    color: #F7F7FF;
}

.menu-item-name {
    margin-left: 42px;
    margin-top: 10px;
    text-align: center;
    color: #F7F7FF;
}

.menu-item-description {
    color: #F7F7FF;
}

.menu-image {
    width: 200px;
    height: 200px;
    margin-left: 52px;
    text-align: center;
    border-radius: 15px;
}

.menu-shots {
    width: 200px;
    height: 200px;
    margin-left: 52px;
    text-align: center;
}

.menu-download {
    margin-left: 8rem;
    color: #F7F7FF;
}

.menu-download i {
    font-size: 20px;
    color: #F7F7FF;;
    padding-left: 3px;
}


/* -----------------------------------------  Menu Section ----------------------------------------- */
/* -----------------------------------------  Gallery Section ----------------------------------------- */

#gallery-section {
    padding: 5px 0px;
}

.insta {
    height: 300px;
    width: 350px;
    margin-top: 1px;  
}

/* Instagram button - adjustments to Bootstrap button with CSS*/
#insta-buttons {
    text-align: center;
}

.btn:hover {
    color: #F7F7FF;
    background: #167709;
    border-color: #167709;
    font-weight: 500;
}

.btn {
    color: #167709;
    border: 2px solid #167709;
    border-radius: 15px;
    font-weight: 500;
}

/* -----------------------------------------  /Gallery Section ----------------------------------------- */
/* -----------------------------------------  Testimonials Section ----------------------------------------- */

#testimonials-section {
    padding: 5px 0px;
}

.card {
    position: relative;
    width: 18rem;
    text-align: center;
    margin: 3px 0 0 30px;
    border: none;
    margin: 0 !important;
}

.carousel-indicators li {
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
    background-color: #3c3939 !important;
    -ms-flex: 0 1 auto;
    -webkit-box-flex: 0;
            flex: 0 1 auto;
    width: 10px;
    height: 10px;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #fff;
    background-clip: padding-box;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    opacity: .5;
    -webkit-transition: opacity .6s ease;
    -o-transition: opacity .6s ease;
    transition: opacity .6s ease;
    border-radius: 50%;
}

.card-text {
    margin-top: 5px;
    font-size: 12px;
    font-size: 1.1rem;;
}

.blockquote {
    margin-top: 8px;
}

.blockquote-footer {
    background: none;
}

.ratings i {
    color: #167709;
}

.rounded-circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;

}

/* -----------------------------------------  /Testimonials Section ----------------------------------------- */
/* -----------------------------------------  Offers Section ----------------------------------------- */

.offer h6 {
    margin-top: 10px;
    color: #167709;
    font-weight: 400;
}

.offer {
    text-align: center;
}

.offers-image {
    border-radius: 50%;
    padding: 5px;
}

.row-offers {
    margin-bottom: 25px;
}

/* -----------------------------------------  /Offers Section ----------------------------------------- */
/* -----------------------------------------  Additional images section ----------------------------------------- */

.add-images-container {
    margin-top: 5px;
    margin-bottom: 5px;
}

.additional-images {
    height: 300px;
    width: 300px;
}

/* -----------------------------------------  /Additional images section ----------------------------------------- */
/* Google Map */

.map {
    padding-bottom: 0;
    margin-bottom: 0;
}

/* /Google Map */
/* -----------------------------------------  Contact Section ----------------------------------------- */

.contact-form-send {
    color: #F7F7FF;
    background: #167709;
    border-color: #167709;
}

.image-contact {
    opacity: 0.5;
}

.send-button {
    margin-top: 10px;
}

/* https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_image_text */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.paragraph-contact-background {
    position: absolute;
    bottom: 10px;
    right: 13px;
}

.form-check-input {
        color:#167709 !important;
    }

    .form-control:focus {
    border-color: #167709;
    -webkit-box-shadow: 0 0 0 0.1rem rgba(22, 119, 9, .25);
    box-shadow: 0 0 0 0.2rem rgba(22, 119, 9, .25);
    }

/* -----------------------------------------  /Contact Section ----------------------------------------- */
/* -----------------------------------------  Footer ----------------------------------------- */
    
   footer {
       line-height: 30px;
       background-color: #F2D0A4;
   }

    #footer-info h5 {
        font-size: 110%;
        font-weight: 500;
    }

    #footer-info p {
        font-size: 110%;
        font-weight: 400;
    }

    .menu-download-footer i {
        font-size: 18px;
        color: #167709;
        padding: 5px 0;
        transition: all 0.35s ease-in-out;
        -moz-transition: all 0.35s ease-in-out;
        -webkit-transition: all 0.35s ease-in-out;
        -o-transition: all 0.35s ease-in-out;
    }

    .menu-download-footer i:hover {
        color: #C03221;
    }

    .social-links li a i {
        width: 25px;
        font-size: 18px;     
        padding: 5px 0;
        text-align: center;
        color: #167709;
        transition: all 0.35s ease-in-out;
        -moz-transition: all 0.35s ease-in-out;
        -webkit-transition: all 0.35s ease-in-out;
        -o-transition: all 0.35s ease-in-out;
    }

    .social-links li a i:hover {
        color: #C03221;
    }

    #footer-info {
        padding: 15px;
    }  

    .contact-icons i {
        font-size: 20px;
        color: #167709;
        padding-left: 3px;
        transition: all 0.35s ease-in-out;
        -moz-transition: all 0.35s ease-in-out;
        -webkit-transition: all 0.35s ease-in-out;
        -o-transition: all 0.35s ease-in-out;
    }

    .contact-icons i:hover {
        color: #C03221;
    }

    .link-active {
        border-bottom: 1px solid #C03221;
    } 

/* -----------------------------------------  /Footer ------------------------------------ */
/* -----------------------------------------  Media Queries ----------------------------- */

    /* Extra small devices (portrait phones, less than 576px) */
    @media (max-width: 575.98px) {
        /* fix space between opening hours and social links list on extra small devices */
        .social-links {
            margin-top: 0;
            padding: 0;
        }

        /* footer */
        #footer-info p {
            margin-bottom: 3px;
        }

        #footer-info h5 {
            margin-bottom: 3px;
        }

        .opening-hours-space p {
            margin: 0;
            padding: 0;
        }
        }
    

    /* Small devices (landscape phones, less than 768px) */
    @media (max-width: 767.98px) { 
         /* gallery
        fix the size of images */
        .insta {
            height: 300px;
            width: 300px;
            margin-top: 1px;
        } 
        /* testimonials
        center the cards */
        .card {
            position: relative;
            width: 18rem;
            text-align: center;
            margin: 3px 0px 0px 30px;
            border: none;
            margin: 0 auto !important;
        }

        .card-body {
        height: 400px;
        }
        /* footer
        increase the size of social link icons on small devices */
        .list-inline a i {
            font-size: 1.3rem !important;
        }

        /* change image visibility on small devices */
        #main-page-image {
            height: 70vh;
            width: 100%;
            background: url("../images/main-screen-picture-berry-shake.jpg") no-repeat center center fixed;
            background-size: cover;
            /* https://stackoverflow.com/questions/16785085/background-image-not-displaying-correctly-in-ios */
            -webkit-transform: translateZ(0); 
            background-size: cover;
        }

        .additional-images {
            height: 300px;
            width: 300px;
         }
        }

    /* Medium devices (tablets, 768px and up) */
    @media (min-width: 768px) {
    /* change image visibility on small devices */
        #main-page-image {
            height: 75vh;
            width: 100%;
            background: url("../images/main-screen-picture-berry-shake.jpg") no-repeat center center fixed;
            background-size: cover;
        }

        .card {
            width: 35rem;
        }
    }

    /* Medium devices (tablets, less than 992px) */
    @media (max-width: 991.98px) {

    /* Offers */
    #student-nhs-discount-image {
        margin-top: 8px;
    }

    /* Contact */
    .form-control{
        margin-top: 12px;
    }

    /* footer */
    .social-links {
        padding-bottom: 2px;
    }

    #footer-info {
        padding: 5px;
    }

    .social-links li a i {
        padding: 3px 0;
    }

    /* testimonials */
    /* move cards to the left */
    .carousel-inner {
        vertical-align: center;
       
    }
}

    /* Medium devices (tablets, 768px and up) */
    @media (min-width: 768px) and (max-width: 991.98px) {
    /* About */
    /* to fix the text alignment in 'our story' */
    .story-background-content h2 {
        padding-top: 25px;
        padding-bottom: 40px;
    }

    /* adjust size and positioning of additional images */
    .additional-images {
        height: 200px;
        width: 100%;  
    }

    .story-background-content p {
        font-size: 17px;
        padding: 0 40px;
        line-height: 2.4;
    }

    .our-ingrdients p {
        font-size: 17px;
    }

    /* gallery */
    /* fix the size of images */
    .insta {
        height: 400px;
        width: 400px;
        margin-top: 3px;
    } 
    }

    /* Large devices (desktops, 992px and up) */
    @media (min-width: 992px) {

    /* more space between columns on large devices */
    .shots-column,
    .breakfast-column {
        margin-right: 0px;
    }

    /* set the size of additional images */
    .additional-images {
        height: 180px;
        width: 180px;
    }

    #main-page-image {
        height: 70vh;
        width: 100%;
        background-size: cover;
    }

    #main-page-image {
    height: 75vh;
    width: 100%;
    background: url("../images/main-screen-picture-berry-shake.jpg") no-repeat center center fixed;
    background-size: cover;  
    }
    }

    /* Large devices (desktops, 992px and up) */
    @media (min-width: 992px) and (max-width: 1199.98px) {
    /* gallery */
    /* fix the size of images */
    .insta {
        height: 290px;
        margin-top: 1px;
        }

    .additional-images {
        height: 180px;
        width: 180px;
    }
    }

    /* Large devices (desktops, less than 1200px) */
    @media (max-width: 1199.98px) {

    #nav-menu {
    line-height: 30px;
    }

    .additional-images {
        height: 180px;
        width: 180px;
    }
    }

    @media (max-width: 300px) {

    /* adjust the position on Galaxy Fold */
        .card {
        width: 15rem;
        margin: 0;
    }
}

    /* Extra large devices (large desktops, 1200px and up) */
    @media (min-width: 1200px) {

    .additional-images {
        height: 210px;
        width: 210px;
    }

/* fix the size of images */
    .insta {
        height: 350px;
        width: 100%;
        margin-top: 3px;
    }
}

 @media (min-width: 992px) and (max-width: 1130px) {
    /* fix the image size on this specific size */
    .additional-images {
        height: 150px;
        width: 150px;
    }
}